@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

.vertical-timeline-block{
    color:#303E49;
}

.OtherUsedTechs{
    display: inline;
}

.Progress{
    display: flex;
    background-color:#67D096;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 5px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: inherit;
}

.Progress p{
    font-family: 'Glory"';
    margin: auto;
    font-size: 0.9vw;
    align-self: center;
    margin-top: -5px;
}

.ProgressBack{
    width: 80%;
    height: 25px;
    border-radius: 2000px;
    border:3px solid #267591
}

.Carousel{
    background-color: #e0e0e0;
    border: 2px solid #8c8c8c;
}

h5{
    display: inline;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
}