@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.MySkills{
    color: white;
}

.SkillList{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Card{
    width: 28vh;
    display: flex;
    margin: 5vh 6vw 5vh 6vw;
    padding: 5px 15px 0px 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(125deg,#DC01F2,#5B66F3);
    box-shadow: 10px 12px 14px #0b0b0b;
}

.Card img{
    height: 5vh;
    flex-grow: 2;
}

.Card .CardName {
    font-size: 1.2vw;
    text-align: center;
    font-family: 'Nunito';
    flex-grow: 1;
}

.Card .CardDescription{
    font-family: 'Glory';
    font-size: 1.1vw;
    text-align: center;
    margin-bottom: 35px;
    flex-grow: 3;
}

.Card .ProgressHolder{
    background-color: #D4D4D4;
    width: 90%;
    height: 15px;
    border-radius: 500px;
    margin: 0px 5px 25px 5px;
}

.ProgressHolder .Progress{
    background-color: #da920d;
    width: 50px;
    height: 100%;
    border-radius: 500px;
}